.filter {
  width: 232px;
  min-height: 252px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0;
}

.filter__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 20px;
  letter-spacing: 0.5;
}

.filter__group {
  border: none;
  margin: 0;
  padding: 0;

}

.filter__label {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 20px;

  cursor: pointer;

  &:hover {
    background-color: #F1FCFF;
  }
}

.filter__label--checkbox {
  width: 20px;
  height: 20px;

  border: 1px solid #9ABBCE;
  border-radius: 2px;

  margin-right: 10px;

  position: relative;
}

.filter__checkbox:checked + .filter__label--checkbox {
  border-color: #2196F3;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../image/shape.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

.filter__checkbox {
  margin: 0;
  margin-right: 10px;
}